.savings {
  text-align: center;

  .savingsTopApy {
    font-size: 50px;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }

  .viewButtons {
    > label {
      min-width: 100px;
      width: 100px;
    }

    margin: 20px 0
  }

  .savingsTable {
    width: 600px;
  }
}