.savings {
  text-align: center;
  font-size: 12px;

  .savingsTopApy {
    font-size: 1rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    height: 20%;
  }

  .savingsTopBank {
    font-size: 2rem;
  }

  .savingsTopAccount {
    font-size: 1rem;
  }

  .savingsRest {
    height: 80%;

    .viewButtons {
      > label {
        min-width: 100px;
        width: 100px;
      }

      padding: 20px 0
    }

    .savingsTable {
      width: 900px;
    }

    .viewOption {
      display: flex;
      justify-content: center;
    }
  }
}