.bar {
  display: flex;
  flex-direction: column;
  width: 60px;

  .barNumber {
    text-align: center;
    max-height: 20px;
    height: 20px;
  }

  .barContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;

    .barGraphic {
      width: 100%;
      background-color: black;
      vertical-align: baseline;
    }
  }

  .barTitle {
    max-height: 100px;
    height: 100px;
    flex-grow: 1;
    text-align: center;

    > span {
      text-overflow: ellipsis;
    }
  }

  .tooltip {
    font-size: 14px;
  }
}
